
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/*Navigation*/


.main-nav {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    font-size: 13;
}

.main-nav .logo {
    width: 100px;
    height: 100px;
}

.main-nav ul {
    display: flex;
    font-size: 17px;
}

.main-nav ul li {
    padding: 0 17px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

